<% @articles.each do |article| %>
<p><strong>Title:</strong><%= article.title %></p>
<p><strong>Text:</strong><%= article.text %><%= link_to "Edit", edit_article_path(article) %></p>
<br/>
<% end %>
 
